.live
{
	font-weight: bold;
	/*background-color: #FFFBDE;*/
	padding:2px 3px 1px 3px;
}

#new-content
{
 	font-weight: 400;
	text-align: center;
	font-size: 16px;
	color: #333333;
	padding: 5px;
	border: 1px solid #69D4ED;
	background-color: #AEE1ED;
	margin-bottom:30px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	text-shadow: 1px 1px 1px hsla(0,0%,100%,1);
}

#new-content:hover
{
	background-color: #88D9ED;
}

ol 
{
	margin: 0;
	padding: 0;
	list-style: none;
}


#timeline-container
{
    width: auto;
    height: 110px;
    display: block;
    overflow: hidden;
}
#timline-label
{
	display:block; 
	height: 20px;
}
#timeline-maxtime
{
	float:left;
}
#timeline-maxtime
{
	float: right;
}
#timeline-slider
{
	height:10px;
	margin-top: 10px
}

li#media-list
{
  float: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 35px;
  width: 160px;
  height: 100px;
  text-align: center;
}

li#media-list #container
{
	width: 160px;
	height: 100px;
	overflow: hidden;
  	vertical-align: middle;
  	border: solid 1px #000000;
  	background-color: #000000; 	
}


li#media-list #footer
{
	background-color: #CCCCCC;
	text-align: left;
	overflow: hidden;
	padding: 2px;
	width: 158px;
	height: 17px;
}



li#post-list
{
	min-height: 50px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
}

li#post-list .item-edit
{
	float: right;
	width: 50px;
	height: 20px;
	display: block;
}

#pending-notice
{
	background: url("../img/css/sprite-icons.png") no-repeat scroll -225px -158px transparent;
	width: 55px;
	height: 18px;
	display: block;
	position: absolute;
	top:20px;
	margin-left: 6px;
}

li#post-list #content
{
	width: auto;
	margin-left:58px;
	position: relative;
	word-wrap: break-word;
}

li#post-list #avatar
{
	float: left;
	width: 48px;
	height: 48px;
	text-align: right;
}

li#post-list #meta
{
	font-size: 12px;
	margin-top:10px;
	padding:0;
	color: #999999;
	width: 400px;
}

/** Override global icons */
span.icon-delete
{
	cursor: pointer;
}

span.icon-check
{
	cursor: pointer;
}

