#stats
{
}

#extracharts
{
	display: none;	
}

#stats #contaier, #container-right
{
	display: table-cell;
    vertical-align: top;  
	width:33%;
	padding: 0 20px 0 20px;
	margin: 0 20px 0 20px;
	border-right: 1px solid #CCCCCC;
}


#chart, #chart-left, #chart-right, #chart-middle 
{
	padding:10px 0 0 0;
	width: auto;
	height: 120px;
	display: block;
}
