#stats
{
}

#extracharts
{
	display: none;	
}

#stats #contaier, #container-right
{
	display: table-cell;
    vertical-align: top;  
	width:33%;
	padding: 0 20px 0 20px;
	margin: 0 20px 0 20px;
	border-right: 1px solid #CCCCCC;
}


#chart, #chart-left, #chart-right, #chart-middle 
{
	padding:10px 0 0 0;
	width: auto;
	height: 120px;
	display: block;
}

#timer
{
    display: inline-block;
    background-color: #FFF7AC;
    border: 2px solid #FFFFFF;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 3px 6px 3px 6px;
}
#timeline-footer
{
    height: 55px;
    background-image: -moz-linear-gradient(#FFFFFF, #E6E6E6 55px);
    background-image: -webkit-gradient(linear, 0 0, 0 55, from(#FFFFFF), to(#E6E6E6));
}
#timeline-controls
{
	position: relative;
	float: right;
	display: block;
}

#timeline-container, #stats-container
{
    width: auto;
    height: 110px;
    display: block;
    overflow: hidden;
}


#timeline-expand
{
	width: auto;
	height: auto;
	padding: 2px 5px 2px 5px;
	margin-left: 15px;
	display: inline-block;
	color: #FFFFFF;
	background-color: #999999;
	cursor: pointer;
}


ol 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.status
{
	min-height: 50px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
}

#contentButton
{
	min-width: 10px;
	position: relative;
	display: inline-block;
	background-color: #999999;
	-moz-border-radius: 5px;
	border-radius:5px;
	padding: 5px 10px 5px 10px;
	margin: 0 0 10px ;
	color: #FFFFFF;
	text-decoration: none;
}

#contentButton:hover
{
	background-color: #666666;
}

#post-avatar
{
	float: left;
	width: 48px;
	height: 48px;
	text-align: right;
}

#post
{
	margin-left:58px;
	position: relative;
	word-wrap: break-word;
}

#post-meta
{
	font-size: 12px;
	margin-top:10px;
	padding:0;
	color: #999999;
}
