body
{
    margin: 0;
    padding: 0;
    background: #E6E6E6;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #585858;
}

h1
{
    color: #002A3A;
    text-shadow: 1px 1px 1px hsla(0,0%,100%,.8);
    font-size:33px;
    margin: 0px 0 5px 0;
    font-weight: 500;
}

h2, h3
{
    color: #333333;
    font-size: 20px;
    font-weight: 100;
    text-shadow: 1px 1px 1px hsla(0,0%,100%,.8);
    margin: 0 0 10px 0;
}

h3
{
    font-size: 17px;
    font-weight: 200;
    margin: 0 0 5px 0;
}

a:link
{
	color: #118bff;
}

#header
{
    width: 100%;
    height: 47px;
    border-bottom: 5px solid #027B9E;
    background: #00374B;
    background-image: -moz-linear-gradient(#00455F, #002A3A 50px);
    background-image: -webkit-gradient(linear, 0 0, 0 50, from(#00455f), to(#002A3A));
}


#header #nav
{
    cursor: pointer;
    display: inline-block;
    float: left;
    border:0px;
    border-right: 1px solid #007AA2;
    padding-right: 20px;
    color: #FFFFFF;
    margin: 15px 0 0 20px;
    font-size: 14px;
    text-shadow: 1px 1px 1px #000000;
}


#header #logo
{
    display: inline-block;
    float: left;
    width:115px;
    height: 35px;
    background-image: url("../img/css/logo.png");
    background-color: #007AA2;
	background-repeat: no-repeat;
	background-position: center;
    color: #FFFFFF;
}

#social
{
	width: 95%;
	margin-left:20px;
	display: block;
	float: left;	
}

#social #embed
{
	float: right;	
}


#padding
{
    padding: 10px;
}


#content-container
{
    display: block;
    margin: auto;
    width: 80%;
    min-width: 960px;
}

#contentBox, #contentBoxHeader
{
    width: auto;
    height: auto;
    background: #FFFFFF;
    -moz-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
    -webkit-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
    -box-shadow: 0px 0px 3px hsla(0,0%,0%,.3); /* Opera, IE 9 */    
}

/* Set min-height for page content headers. */
#contentBoxHeader
{
	min-height: 75px;
}

#footer
{
    width: 100%;
    height:200px;
    background: #333333;
}

span.icon, span.icon-location, span.icon-user, span.icon-time, span.icon-event, span.icon-delete
{
	margin:0 5px 0 5px;
    height: 11px;
    width: 11px;
    display: inline-block;
}

span.icon-location
{
	 background: url("../img/css/sprite-icons.png") no-repeat scroll -220px -64px transparent;
}
span.icon-user
{
	 background: url("../img/css/sprite-icons.png") no-repeat scroll -227px -33px transparent;
}
span.icon-time
{
	 background: url("../img/css/sprite-icons.png") no-repeat scroll -191px -14px transparent;
}
span.icon-event
{
	 background: url("../img/css/sprite-icons.png") no-repeat scroll -81px -33px transparent;
	 width: 14px;
}

span.icon-delete
{
	background: url("../img/css/sprite-icons.png") no-repeat scroll -272px -14px transparent;
	height: 14px;
}
span.icon-delete:hover
{
	background: url("../img/css/sprite-icons.png") no-repeat scroll -225px -141px transparent;
}

img[src*="gravatar.com/avatar"]
{
	padding: 2px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	float: left;
	margin-right: 10px;
}


/** Tab buttons, used on event page */
.tabBtn, .tabBtnSelected
{
	min-width: 10px;
	position: relative;
	display: inline-block;
	background-color: #999999;
	-moz-border-radius: 5px;
	border-radius:5px;
	padding: 5px 10px 5px 10px;
	margin: 0 0 10px ;
	color: #FFFFFF;
	text-decoration: none;
}

.tabBtn:hover
{
	background-color: #666666;
}

.tabBtnSelected
{
	background-color: #333333;
	cursor: default;
}
