html, body {
  height: 100%;
}
/* Stretched body container to ensure that footer is always at the bottom. */
.body-container {
  min-height: 100%;
  position: relative;
}
.sticky {
  position: fixed;
  margin-top: -72px
}
body {
  margin: 0;
  padding: 0;
  background: #E6E6E6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #585858;
  background: url("../img/css/background.png");
}

body .loader {
  width: auto;
  text-align: center;
  padding: 300px;
  background: url("../img/css/loader.gif") no-repeat;
  background-position: center;
}

h1 {
  color: #464646;
  font-size: 23px;
  font-weight: 100;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,.8);
  margin: 0px 0 5px 0;
}
h3 {
  color: #333333;
  font-size: 16px;
  font-weight: 200;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,.8);
  margin: 0 0 10px 0;
}
h4 {
  font-weight: 100;
  margin-left: 10px;
  display: inline;
}

a:link {
  color: #118bff;
}

.gray-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #CCCCCC;
}

/* Global navigation header */
.main-header {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #FFFFFF;
  background: #464646;
  display: block;
}

.main-header .nav {
  cursor: pointer;
  display: inline-block;
  float: left;
  border-right: 1px solid #CCCCCC;
  padding-right: 20px;
  color: #FFFFFF;
  margin: 10px 0 0 20px;
  font-size: 12px;
  text-shadow: 1px 1px 1px #000000;
}

.main-header .logo {
  display: inline-block;
  float: left;
  width: 115px;
  height: 30px;
  background-color: #007AA2;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
}

/* Columns */
.column-layout {
  display: table;
  width: 100%;
}

.column-layout .row {
  display: table-row;
}

.column-layout .cell {
  display: table-cell;
  vertical-align: top;
}

.column-layout .sidebar-cell {
  width: 300px;
  display: block;
}

.column-layout .main-cell {
  width: 100%;
  padding-left: 20px;
}

/* Content area */
.content-container {
  display: block;
  margin: auto;
  width: 80%;
  min-width: 960px;
}

.content-header {
  min-height: 65px;
}

.white-box {
  width: auto;
  height: auto;
  background: #FFFFFF;
  -moz-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
  -webkit-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
  -box-shadow: 0px 0px 3px hsla(0,0%,0%,.3); /* Opera, IE 9 */
}

.sidebar-content {
  width: inherit;
  height: 85px;
  display: block;
}

/**
 * -------------
 * Event display
 *
 */

.live {
  font-weight: bold;
  padding: 2px 3px 1px 3px;
}


/** Secondary title for content boxes */

#content-stats {
  min-width: 120px;
}

#share-container {
  display: inline;
  width: 300px;
  height: 50px;
}

/** Show the number of newly-loaded items. */
.content-loader {
  text-align: center;
  font-size: 13px;
  color: #333333;
  padding: 5px;
  border: 1px solid #B2D7E7;
  background-color: #E1EFF5;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1);
}

.content-loader:hover {
  background-color: #c9e0ea;
}

.loader-margin {
  margin-bottom: 10px;
}

.loader-header {
  border: 1px solid #f9ad54;
  background-color: #fce37e;
}


#map-container {
  height: 130px;
}

#controls-container {
  padding: 15px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  margin-bottom: 15px;
}

ol {

  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
  -moz-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
  -webkit-box-shadow: 0px 0px 3px hsla(0,0%,0%,.3);
  -box-shadow: 0px 0px 3px hsla(0,0%,0%,.3); /* Opera, IE 9 */
}



#group-header {
  padding: 10px;
  background: url("../img/css/group-header-arrow.png"), url("../img/css/group-header-bg.png");
  background-repeat: no-repeat, repeat-x;
  background-position: 10px bottom, bottom;
  background-color: #FFFFFF;
}

#group-footer {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px;
}

li#post-list {
  padding: 10px;
  min-height: 50px;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  background-color: #FFFFFF;
}

.item-edit {
  left: 5px;
  float: right;
  width: 50px;
  height: 48px;
  display: block;
  position: relative;
}

.active-notice {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -225px -156px transparent;
  width: 61px;
  height: 23px;
  display: block;
  position: absolute;
  top: 13px;
  left: -1px;
}

.pending-notice {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -225px -180px transparent;
  width: 61px;
  height: 23px;
  display: block;
  position: absolute;
  top: 13px;
  left: -1px;
}

.live-notice {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -290px -156px transparent;
  width: 61px;
  height: 23px;
  display: block;
  position: absolute;
  top: 13px;
  left: -1px;
}
.idle-notice {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -290px -180px transparent;
  width: 61px;
  height: 23px;
  display: block;
  position: absolute;
  top: 13px;
  left: -1px;
}

li#post-list #content {
  position: relative;
  word-wrap: break-word;
}

#checkbox {
  float: left;
  display: inline-block;
  width: 40px;
}

li#post-list #avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
}

/* Histogram container for the events / user pages.*/
li#post-list #histogram {
  float: left;
  width: 100px;
  height: 48px;
  margin-right: 10px;
  border: 1px solid #CCCCCC;
  display: inline-block;
}

li#post-list #title {
  color: #002A3A;
  font-weight: 500;
  font-size: 18px;
}

li#post-list #pending {
  top: -3px;
  left: 10px;
  padding: 3px 5px 2px 5px;
  color: #FFFFFF;
  background-color: #FF9900;
  font-size: 9px;
  position: relative;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

li#post-list #media {
  padding: 5px;
  width: 300px;
  height: 160px;
  overflow: hidden;
  background-color: #EDEDED;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

li#post-list #meta {
  font-size: 12px;
  margin-top: 10px;
  padding: 0;
  color: #999999;
  width: auto;
  position: relative;
  display: block;
}

/** Override global icons */
span.icon-delete, span.icon-check, span.icon-cog, span.icon-play, span.icon-pause {
  cursor: pointer;
}



/**
 * Misc classes
 */
.hidden {
  display: none;
}

.inline {
  display: inline-block;
}
.absolute {
  position: absolute;
}

.margin-t {
  margin-top: 20px;
}

.padding-b {
  padding-top: 10px;
}
.padding-t {
  padding-bottom: 10px
}
.float-r {
  float: right;
}

.padding {
  padding: 10px;
}
#padding {
  padding: 10px;
}

/* Displays user header*/
#user-avatar {
  width: 38px;
  height: 38px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  float: left;
  margin-right: 10px
}
.footer {
  width: 100%;
  height: 30px;
  margin-top: -30px;
  background: #333333;
}
.footer .notice {
  text-align: right;
  padding-top: 10px;
  color: #999999;
  display: block;
}
/** Notification message - gray background*/
.notification {
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #555555;
}

span.icon, span.icon-location, span.icon-user, span.icon-time, span.icon-event, span.icon-check, span.icon-delete, span.icon-live, span.icon-cog, span.icon-pause, span.icon-play, span.icon-check-green, span.icon-check-red, span.icon-media, span.icon-comment, span.icon-page, span.icon-download, span.icon-twitter {
  margin: 0 5px 0 0;
  height: 11px;
  width: 11px;
  display: inline-block;
}
span.icon-location {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -224px -64px transparent;
  width: 8px;
}
span.icon-user {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -227px -33px transparent;
}
span.icon-time {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -177px -16px transparent;
  width: 12px;
  height: 12px;
}
span.icon-live {
  background: url("../img/css/timer.gif");
  width: 16px;
  height: 16px;
}
span.icon-event {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -81px -33px transparent;
  width: 14px;
}
span.icon-delete {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -272px -14px transparent;
  height: 12px;
}
span.icon-delete:hover {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -225px -141px transparent;
}
span.icon-check {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -256px -143px transparent;
  width: 12px;
  height: 10px;
}
span.icon-check:hover {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -240px -143px transparent;
}
span.icon-cog {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -273px -143px transparent;
  width: 12px;
  height: 12px;
}
span.icon-cog:hover {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -290px -143px transparent;
}
span.icon-pause {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -307px -143px transparent;
  width: 8px;
}
span.icon-pause:hover {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -318px -143px transparent;
}
span.icon-play {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -330px -143px transparent;
  width: 8px;
}
span.icon-play:hover {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -338px -143px transparent;
}
span.icon-check-green {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -207px -143px transparent;
  width: 15px;
}
span.icon-check-red {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -191px -143px transparent;
  width: 15px;
}
span.icon-media {
  background: url("../img/css/sprite-icons.png") no-repeat scroll 0px -96px transparent;
  width: 15px;
  height: 15px;
}
span.icon-comment {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -32px -96px transparent;
  width: 12px;
  height: 14px;
}
span.icon-page {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -47px -96px transparent;
  width: 11px;
  height: 13px;
}
span.icon-download {
  background: url("../img/css/sprite-icons.png") no-repeat scroll -192px -82px transparent;
  width: 10px;
  height: 7px;
}
span.icon-twitter {
  background: url("../img/css/sivvit-icons.png") no-repeat scroll 0px -15px transparent;
  width: 18px;
  height: 14px;
}
span .loader {
  background: url("../img/css/loader.gif");
  width: 16px;
  height: 11px;
  display: inline-block;
}
a.link {
  text-decoration: underline;
  color: #118BFF;
  margin-right: 15px;
  cursor: pointer;
}
a.link:hover {
  text-decoration: none;
}
img[src*="gravatar.com/avatar"] {
  padding: 2px;
  border: 1px solid #CCCCCC;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
/** */
.text-btn, .text-btn-selected {
  width: auto;
  padding: 5px;
  display: inline;
  cursor: pointer;
  margin-left: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.text-btn-selected {
  background-color: #FFFFFF
}
.text-btn:hover {
  background-color: #E1E1E1;
}
/** Tab buttons, used on event page */
.tabBtn, .tabBtnSelected, .tabBtnEdit {
  min-width: 10px;
  position: relative;
  display: inline-block;
  background-color: #999999;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 0 0 10px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.tabBtnEdit {
  float: right;
}
.tabBtn:hover {
  background-color: #666666;
}
.tabBtnSelected {
  background-color: #333333;
  cursor: default;
}
/** Form Styles*/
input[type*="text"] {
  border: 1px solid #CCCCCC;
  padding: 5px;
  width: 100%;
}
input[type*="radio"] {
  border: 1px solid #CCCCCC;
  margin: 0 10px 0 0;
  padding: 10px;
}
#form-meta {
  font-size: 11px;
  margin-top: 5px;
  color: #999999;
}
#form-field {
  height: 20px;
  padding-top: 5px;
}
#form-container {
  display: none;
  height: 390px;
  width: 820px;
  background-color: #FFFFFF;
  padding: 20px
}
#form-main {
  display: block;
  height: 350px;
}
#form-footer {
  border-top: 1px solid #CCCCCC;
  padding-top: 15px;
}
#form-col, #form-col-left, #form-col-right {
  width: 380px;
  display: block;
}
#form-col-left {
  float: left;
}
#form-col-right {
  float: right;
}
