#contentVSpacer
{
    height: 20px;
    display: block;
}


#middle
{
    display: block;
    width:100%;
    height: auto;
    overflow:hidden;
    background: #E6E6E6 url("../img/css/middle-bg-gradient.png") repeat-x top;
    background-image: -moz-linear-gradient(#E6E6E6, #7B7B7C 400px);
    background-image: -webkit-gradient(linear, 0 0, 0 400, from(#E6E6E6), to(#7B7B7C));
}

#middle h3
{
    margin: 10px 0 0 0;
    display: inline-block;
}

#timeline-footer
{
    height: 55px;
    background-image: -moz-linear-gradient(#FFFFFF, #E6E6E6 55px);
    background-image: -webkit-gradient(linear, 0 0, 0 55, from(#FFFFFF), to(#E6E6E6));
}

#timeline-container
{
    width: auto;
    height: 110px;
    display: block;
    overflow: hidden;
}

#timeline-expand
{
	width: auto;
	height: auto;
	float: right;
	padding: 3px;
	margin-top: 8px;
	display: inline-block;
	color: #FFFFFF;
	background-color: #666666;
	cursor: pointer;
}

#timer
{
    display: inline-block;
    background-color: #FFF7AC;
    border: 2px solid #FFFFFF;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 3px 6px 3px 6px;
}

#column-layout
{
    display: table;
    width: 100%;
}

#column-layout #row
{
    display: table-row;
}

#column-layout #cell
{
    display: table-cell;
    vertical-align: top;   
}