#contentVSpacer
{
    height: 20px;
    display: block;
}

#pageHeader
{
	min-height: 70px;
	display: block;
}

#middle
{
    display: block;
    width:100%;
    height: auto;
    overflow:hidden;
    background: #E6E6E6 url("../img/css/middle-bg-gradient.png") repeat-x top;
    background-image: -moz-linear-gradient(#E6E6E6, #7B7B7C 400px);
    background-image: -webkit-gradient(linear, 0 0, 0 400, from(#E6E6E6), to(#7B7B7C));
}

#eventHeader
{
	display: block;
    width:100%;
    height: auto;
    overflow: hidden;
    background: #F5F5F5;
    border-bottom:1px solid #CCCCCC;
    height: 65px;
    overflow:hidden;
}

#middle h3
{
    margin: 10px 0 0 0;
    display: inline-block;
}



#column-layout
{
    display: table;
    width: 100%;
}

#column-layout #row
{
    display: table-row;
}

#column-layout #cell
{
    display: table-cell;
    vertical-align: top;   
}