body
{
    margin: 0;
    padding: 0;
    background: #E6E6E6;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #585858;
}

h1, h2
{
    color: #666666;
    text-shadow: 1px 1px 1px hsla(0,0%,100%,.8);
    font-size:33px;
    margin: 0px 0px 5px 0px;
    font-weight: 500;
}

h2
{
	color: #888888;
	font-size:23px;
}

h3
{
	color: #888888;
	font-size:18px;
	font-weight: 400;
}

#source
{
	display: block;
	margin: 0px 0px 5px 0px;
}

#content, #embed
{
	margin: 20px;
	padding: 20px;
	width: auto;
	height: auto;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	display: block;
}

#embed
{
	margin: 10px 20px 10px 20px;
	padding: 20px;
}